* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 0 10px;
    /* background-color: #1E2025; */
}

@font-face {
    font-family: helvetica-neue;
    src: url('./font/Helvetica\ Neue\ Medium\ Extended.ttf');
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: helvetica-neue, sans-serif;
    letter-spacing: 2px;
    margin: 0;
}

header h1 {
    /* text-align: left; */
    margin: 10px 0 20px;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 25px 0 15px;
}

p {
    margin: 0;
}

header {
    background-color: #1f3944;
    /* color: #36fefd; */
    color: white;
    padding-top: 5px;
}

button {
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.section-title {
    border: 2px solid #1f3944;
    padding: 10px;
    color: #1f3944;
    transition: .25s all;
}

.section-title:hover {
    cursor: pointer;
    background-color: #1f3944;
    color: white;
}

.navbar {
    display: flex;
    background-color: #36fefd;
    border-bottom: 2px solid #1f3944;
}

.nav-item {
    padding: 10px;
    color: #1f3944;
    border-right: 2px solid #1f3944;
    transition: .25s all;
    text-decoration: none;
    width: 75px;
    text-align: center;
}

.nav-item:hover {
    background-color: #1f3944;
    color: #36fefd;
}

.selected {
    background-color: #1f3944;
    color: #36fefd;
}

.nav-dropdown-parent {
    position: relative;
}

.nav-dropdown {
    position: absolute;
    top: 38.5px;
    left: 0;
    background-color: purple;
    width: 100%;
    padding: 5px;
}

.nav-dropdown ul {
    list-style-type: none;
    padding: 0px;
}

.games-container {
    /* background-color: #1f3944;
    color: white; */
    border-right: 2px solid #1f3944;
    border-bottom: 2px solid #1f3944;
    border-left: 2px solid #1f3944;
    /* border-top: 0; */
    /* margin-top: -19.920px; */
}

.game {
    border: 2px solid #1f3944;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
    max-width: 400px;
}

.game p {
    margin-top: 5px;
}

.game-head {
    background-color: #1f3944;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.description {
    max-height: 150px;
    overflow-y: scroll;
    padding-right: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.game-body {
    margin: 0 10px;
    max-width: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game ul {
    align-self: flex-start;
}

.img-container {
    max-width: 300px;
    margin: 5px;
}

 img {
    width: 100%;
    padding: 2.5px;
    border: 2px solid #1f3944;
    border-radius: 10px;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.tag {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.selected-tag {
    background-color: black;
    color: white;
}

.tag:hover {
    cursor: pointer;
}

.tag-title {
    margin-bottom: 10px;
}

.favorite {
    border: 2px solid goldenrod;
}

@media screen and (min-width: 600px) {
    .parent-container > * {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .game {
        width: 45%;
    }
}

@media screen and (min-width: 1000px) {
    .game {
        width: 30%;
    }
}

.back-to-top {
	background: none;
 	margin: 0;
 	position: fixed;
 	bottom: 1rem;
 	right: 1rem;
 	width: 70px;
 	height: 60px;
 	z-index: 100;
 	display: none;
 	text-decoration: none;
 	color: #ffffff;
 	text-align: center;
}
 
.back-to-top i {
  font-size: 60px; 
  color: #ffffff;
}

.back-to-top:hover,
.back-to-top:active,
.back-to-top:focus {
  color: #ffffff;
}
